    
    <div id="tooplate_middle">
    	<div id="mid_slider">
        	<div id="flash_grid_slider">
                <a rel="nofollow" href="http://www.adobe.com/go/getflashplayer">
                    <img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" />
                </a>
			</div>
        </div>
        <div id="mid_left">
            <div id="mid_title">
                <div id="wrapper">
		<input type="text" id="search" value=""/> 
		<button id="searchButton">SEARCH</button>
		<span id="loader">
		<img width="100" src="static/loading.gif">
</div><!-- #wrapper -->	
            </div>
            <div id="results">
</div>
	  	</div>
        <div class="cleaner"></div>
	</div> <!-- end of middle -->
    
    

</div> <!-- wrapper -->

